*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.fixed {
  position: fixed;

  &--pos {
    &-tt {
      top: 16px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &-tc {
      top: 3rem;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &-tb {
      bottom: 0.625rem;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
}
